<section style="width: 100%; height: 75vh; display: flex; align-items: center; justify-content: center;">
  <app-dynamic-form
    [columns]="2"
    [fields]="[
      {
        name: 'firstName',
        type: 'text',
        placeholder: 'First Name',
        label: 'First Name',
        required: true,
        validators: ['required'],
        errorMessages: { required: 'Nombre name is required' }
      },
      {
        name: 'lastName',
        type: 'text',
        placeholder: 'Last Name',
        label: 'Last Name',
        required: true,
        validators: ['required'],
        errorMessages: { required: 'Last name is required' }
      },
      {
        name: 'email',
        type: 'email',
        placeholder: 'Email',
        label: 'Email',
        required: true,
        validators: ['required', 'email'],
        errorMessages: { required: 'Email is required', email: 'Enter a valid email address' }
      },
      {
        name: 'password',
        type: 'password',
        placeholder: 'Password',
        label: 'Password',
        required: true,
        validators: ['required', 'minlength:6'],
        errorMessages: { required: 'Password is required', minlength: 'Password must be at least 6 characters long' }
      },
      {
        name: 'phone',
        type: 'text',
        placeholder: 'Phone',
        label: 'Phone',
        required: false,
        validators: []
      },
      {
        name: 'address',
        type: 'text',
        placeholder: 'Address',
        label: 'Address',
        required: false,
        validators: []
      }
    ]"
    [boxConfig]="{ class: 'custom-box-class', style: { 'border': '1px solid red', 'padding': '10px', 'width': '600px' } }">
  </app-dynamic-form>
</section>
